/* Reset CSS file */
@import url('./reset.css');

/* Font Face */
@font-face {
    font-family: 'Roboto-Light';
    src: url('../assets/font/Roboto-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../assets/font/Roboto-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Black';
    src: url('../assets/font/Roboto-Black.ttf') format('truetype');
}
@font-face {
    font-family: "danaMedium";
    src: url('../assets/font/Dana-Medium.woff') format("truetype");
}
@font-face {
    font-family: "danaBold";
    src: url('../assets/font/Dana-Bold.woff') format('truetype');
}
@font-face {
    font-family: "danaBlack";
    src: url('../assets/font/Dana-Black.woff') format("truetype");
}

/* body  */
body {
    line-height: 1;
    background-color: var(--bg-color);
    font-family: var(--roboto-light);
    position: relative;
}
.rtl body{
  font-family: var(--dana-medium);
  font-weight: 700;
  font-size: 1rem;
}
/* Root */
:root{
--roboto-light: 'Roboto-Light';
--roboto-bold: 'Roboto-Bold';
--roboto-black: 'Roboto-Black';
--dana-black :"danaBlack";
--dana-bold:"danaBold";
--dana-medium:"danaMedium";

--primary-color: #2A6154;
--primary-dark: #1B4D3E;
--text-dark: #333;
--text-light: #666;
--border-color: #ddd;
--success-color: #27ae60;
--warning-color: #f39c12;
--danger-color: #e74c3c;
--white-color:#ffffff;
--bg-color:#f0f4f0;
} 

/* Container all web */
.container{
    display: flex;
    width: 100%;
}
.container_sidebar{
    flex: 1;
}
.container_content{
    flex: 6;
    width: 100%;
    margin: 0 auto;
    padding: 15px;
}


/* common button */
.btn {
    width: 100%;
    padding: 0.8rem;
    background:var(--primary-color);
    color: var(--white-color);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.rtl .btn{
    font-family: var(--dana-medium);
}
.btn:hover {
    background: var(--primary-dark);
}

.bg_shadow{
    position: fixed;
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    min-height: 100%;
    left: 0;
    bottom:0;
    z-index: 888;
}


/* Model */
.model{
    display: block;
    background-color: var(--white-color);
    padding: 1rem;
    border-radius: 0.5rem;
}
.bg_model{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}
.bg_model.show{
    animation: modalFadeIn 0.3s ease;
}
/* Delete Model */
.delete_model{
    display: block;
    margin-top: 9rem;
    position: absolute;
    width: 300px;
    left: 40%;
}
.delete_model p{
    display: block;
    margin-bottom: 1rem;
    font-family: var(--roboto-light);
    font-weight: 650;
    font-size: 0.9rem;
    line-height: 1.3;
    color: var(--text-light);
}
@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* rtl */
.rtl{
    direction: rtl;
}


.title_header{
    display: block;
    font-family: var(--roboto-black);
    font-size: 2rem;
    color: var(--primary-dark);
    margin-bottom: 1rem;
}
.rtl .title_header{
    font-family: var(--dana-black);
    font-size: 2rem;
}

.box{
    display: block;
    width: 100%;
    background-color: var(--white-color);
    padding: 1.25rem;
    border-radius: 0.5rem;
}


/* Management styles */
.management{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.management div{
    display: block;
}
.management h2{
    display: block;
    font-family: var(--roboto-black);
    font-size: 1.5rem;
    color: var(--primary-dark);
}
.rtl .management h2{
    font-family: var(--dana-black);
}
.management p{
    display: block;
    margin-top: 0.5rem;
    font-family: var(--roboto-light);
    font-size: 0.9rem;
    font-weight: 700;
    color: var(--text-light);
}
.rtl .management p{
    font-family: var(--dana-medium);
}
.management button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 150px;
    font-family: var(--roboto-bold);
    font-size: 1rem;
}
.rtl .management button{
    font-family: var(--dana-bold);
}
.management .icon{
    margin-right: 0.2rem;
}

.form_group {
    margin-bottom: 1.5rem;
}

.form_group label {
    display: block;
    margin-bottom: 0.5rem;
    color:var(--text-dark);
    font-family: var(--roboto-bold);
    font-weight: 700;
    font-size: 0.8rem;
}
.rtl .form_group label{
    font-family: var(--dana-bold);
}

.form_input {
    display: block;
    margin-top: 0.5rem;
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ddd;
    border-radius: 0.4rem;
    font-size: 0.9rem;
    font-weight: 700;
    transition: border-color 0.3s;
}
.form_control {
    width: 100%;
    padding: 0.8rem 1rem 0.8rem 2.5rem;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.form_control:focus {
    outline: none;
    border-color:var(--primary-color);
}
.rtl option{
    font-family: var(--dana-medium);
    font-size: 0.9rem;
    font-weight: 700;
}

/* Button Action  */
.btn_action {
    display: flex !important;
    align-items: center;
    gap: 1rem ;
}
.btn_action button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border: none;
    width: 100%;
    height: 2.5rem;
    border-radius: 0.5rem;
    font-family: var(--roboto-light);
    font-weight: 650;
    font-size: 1rem;
    color: var(--white-color);
    transition: background-color 0.3s ease;
    cursor: pointer;
}
.rtl .btn_action button{
    font-family: var(--dana-medium);
}
.link{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    gap: 1rem;
    border: none;
    width: 100%;
    height: 2.5rem;
    border-radius: 0.5rem;
    font-family: var(--roboto-light);
    font-weight: 650;
    font-size: 1rem;
    color: var(--white-color);
    transition: background-color 0.3s ease;
    cursor: pointer;
}
.rtl .link{
    font-family: var(--dana-medium);
    font-size: 0.9rem;
}
.btn_save{
    background:var(--primary-color);
    &:hover{
        background-color: var(--primary-dark);
    }
}
.btn_cancel{
    background-color: #95a5a6;
}
.btn_delete{
    background-color: #e74c3c;
    &:hover{
        background-color: #c0392b;
    }
}
.btn_edit{
    background-color: var(--primary-color);
    &:hover{
        background-color: var(--primary-dark);
    }
}
.btn_setting{
    background-color: var(--warning-color);
    &:hover{
        background-color: #d68910;
    }
}




/* Status Colors */
.status-completed {
    background-color: #e8f5e9;
    color:var(--success-color);
}

.status-pending {
    background-color: #fef5e7;
    color:var(--warning-color);
}

.status-badge {
    display: block;
    text-align: center;
    width:80px;
    padding: 5px;
    border-radius: 15px;
    font-size: 12px;
    line-height: 2;
}

/* Error Message */
.error-message {
    color: var(--danger-color);
    font-size: 0.9rem;
    margin-top: 1rem;
    text-align: center;
}


/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    user-select: none;
}

th, td {
    text-align: left;
    padding: 10px;
}
.rtl th , .rtl td{
    text-align: right;
}

th {
    color: #7f8c8d;
    border-bottom: 2px solid #eee;
    font-family: var(--roboto-bold);
    font-size: 1.1rem;
}
.rtl th{
    font-family: var(--dana-bold);
}

td {
    border-bottom: 1px solid #eee;
}

/* sweet alert styles */
.swal-title{
    font-family: var(--roboto-bold);
    font-weight: 650;
    font-size: 1.5rem;
}
.rtl .swal-title{
    font-family: var(--dana-bold);
}
.swal-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border: none;
    width: 100%;
    height: 2.5rem;
    border-radius: 0.5rem;
    font-family: var(--roboto-light);
    font-weight: 650;
    font-size: 1rem;
    color: var(--white-color);
    transition: background-color 0.3s ease;
    cursor: pointer;
}
.rtl .swal-button{
    font-family: var(--dana-medium);
}
.swal-button.swal-button--cancel{
    background-color: #e74c3c !important;
    &:hover{
        background-color: #c0392b !important;
    }
}
.swal-button.swal-button--confirm{
    background:var(--primary-color);
    &:hover{
        background-color: var(--primary-dark);
    }
}


/* Responsive  Utilities*/

@media (max-width : 1360px) {
    .container_content{
        flex: 5;
     }
}
@media (max-width : 1260px) {
    .container_content{
        flex: 4;
     }
}
@media (max-width : 1200px) {
    .container_content{
        flex: 4;
     }
}
@media (max-width : 1100px) {
    .container_content{
        flex: 3;
     }
}
@media (max-width : 992px) {
    .container_content{
        margin-left: 2rem;
    }
    .rtl .container_content{
        margin-left: 0;
    }
}
@media (max-width : 768px) {
    .container_sidebar{
       display: none;
    }
    .container_content{
       flex: 1;
       margin-left: 0 ;
    }

    .grid-container {
        grid-template-columns: 1fr;
    }
    
    .card {
        padding: 15px;
    }
    .delete_model{
        left: 20%;
    }
}
@media (max-width : 576px) {
    .management{
        flex-direction: column;
        text-align: center;
    }
    .management .btn{
        margin-top: 1rem;
        width: 100%;
    } 
    .btn_action button{
        width: 100px;
    }
}
@media (max-width : 320px) {
    
}