.customersList{
    display: block;
    margin-bottom: 4rem;
    margin-top: 2rem;
}
.customersList_management{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.customersList table{
    margin-top: 1rem;
}
.customerList_search{
    display: flex;
    align-items: center;
    gap: 0.3rem;
}
.customerList_search input{
    width: 200px;
}

@media (max-width : 768px) {

}
@media (max-width : 576px) {
 .customersList_management{
    flex-direction: column;
 }
 .customersList{
    overflow-x: auto;
 }
}
@media (max-width : 320px) {
    
}